<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/eel.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>
    Serial Test with eel<br>
    <input type="text" id="send-text" />
    <button id="send-button">SEND</button>
    <p id="output" style="background-color:gainsboro"></p>
</body>
<script type="text/javascript" src="/main.js"></script>

</html>